{% extends 'base.html' %}  
  
{% block content %}  
<table border="2" width=40% class="table table-dark table-hover table-bordered table-striped">
    <tr>
        <td colspan="6" align="center">
            <h1>---Available Employees in Company---</h1>
        </td>
    </tr>
    <tr align="center">  
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="3">Action</th>
    </tr>
        {% for object in object_list %} 
        
        <tr> 
            <td align = "center">{{ object.id }}</td>  
            <td align = "center">{{ object.first_name }}</td>  
            <td align = "center">{{ object.last_name }}</td>  
            <td align="center">
                <form action="{% url 'EmployeeDetails' object.id %}" >
                    {%csrf_token%}
                    <input type="submit" value = "Show Full Details" class="btn btn-success">
                </form>
            </td>
            <td align="center">
                <form action="{% url 'EmployeeDelete' object.id %}" method = "post">
                    {%csrf_token%}
                    <input type="submit" value = "Delete" class="btn btn-danger">
                </form>
            </td>
            <td align="center">
                <form action="{% url 'EmployeeUpdate' object.id %}" >
                    {%csrf_token%}
                    <input type="submit" value = "Update" class="btn btn-warning">
                </form>
            </td>
        </tr>
        {% empty %}
        <li class="nav-item">No objects Find</li>  
        {% endfor %} 
    </table>
    <hr>
    <ul class="nav justify-content-end">
        <form action="{% url 'EmployeeCreate' %}" >
            {%csrf_token%}
            <input type="submit" value = "Home" class="btn btn-success">
        </form>
    </ul>    
  
    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">{{"Previous"}}</a>&nbsp;
        {% else %}
        <a class="btn btn-outline-info mb-4 " .disabled>{{"Previous"}}</a>
        &nbsp;
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="btn btn-outline-info mb-4"><span>{{ i }}<span class="sr-only">(current)</span></span></li>&nbsp;
            {% else %}
            <li><a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a></li>&nbsp;
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">{{"Next"}}</a></li>
        {% else %}
            <a class="btn btn-outline-info mb-4" .disabled>{{"Next"}}</a>
        {% endif %}
        </ul></div>
  {% endif %}
{% endblock content %}
