{% extends 'base.html' %}
{% block content %}
<form method="post">
    <br><br>
    <div class="table table-info" >
    <tr><br><center><h1>Create or Update Employee</h1></center><br></tr>
    </div>
    <div>
    <table border="4" class="table table-borderless table-striped">
        {{ form.as_table }}
    </table></div>
    <ul class="nav justify-content-center">
        <button type="submit" class="btn btn-info">Create / Update Employee</button>
    </ul>
</form>
<hr>
<ul class="nav justify-content-end">
    <form action="{% url 'EmployeeRetrieve' %}" >
        {%csrf_token%}
        <input type="submit" value = "Show Employee Details" class="btn btn-danger">
    </form>
</ul>
{% endblock %}

